* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: skyblue;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sketch-pad {
    background-color: white;
    width: 850px;
    height: 850px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.new-grid-button {
    padding: 5px;
    font-size: 20px;
    width: 100px;
    margin: 20px;
}