* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sketch-pad {
    
    width: 850px;
    height: 850px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: 1px solid blue;
}

.color {
    background-color: black;
}